#body {
  
}
#container{
  width: 1050px;
  height: 100px;
  border: 1px ;
  margin: 0 auto;
}

#header{
  height: 100px;
  padding: 10px 0;
}

#brand{
  float: left;
}

h1 a{
  font-size: 50px;
  font-weight: 100;
  color: black;
  text-decoration: none;
}

#searchBox{
  float: right;
  background: linear-gradient(#E2FEC8, #A7FF55);
  width: 400px;
  height: 50px;
  padding: 20px 20px 0 20px;
  margin-top: 20px;

}

.text{
  float: left;
  width: 200px;
  padding: 5px;
  font-size: 15px;
  color: orange;
  background: white url(images/LogoMakr-4USnE7.png) right center no-repeat;
  ;4r
}

.submit{
  float: right;
  padding: 5px;
  font-weight: bold;
  color: white;
  background: black;
  font-size: 15px;
}

.clear{
  clear: both;
}

#menu{
  height: 70px;
  background: linear-gradient(#FBF594, #D5D533);
  padding: 7px;
}
ul{
  list-style: none;
}

#menu ul li{
  float: left;
  padding: 0 30px;
  height: 20px;
  border-right: 1px solid #5d12e7;
}

#menu ul li:last-child{
  border-right: none;
}

#menu ul li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  color: #5d12e7;
  line-height: 30px;
  transition: font-size 0.3s ease;
  -webkit-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
}

#menu ul li a:hover, #menu ul li a.active{
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#introduction{
  background: linear-gradient(#E5F2BB, #B7E952);
  padding: 30px;
  margin: 15px 0;
}

#introduction h3{
  font-size: 40px;
}

$introduction p{
  font-size: 20px;
}

.sidebar{
  height: 800px;
  width: 450px;
  border: 1px solid #A7FF55;
  border-radius: 20px;
  padding: 10px 30px;
}

.sidebar h3{
  color: black;
  font-size: 30px;
}

.sidebar ul li a{
  text-decoration: none;
  font-size: 20px;
  color: #5d12e7;
  transition: font-size 0.3s ease;
  -webkit-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;

}

.sidebar ul li a:hover, .sidebar ul li a.active{
  text-decoration: none;
  color: black;
  font-size: 23px;
  font-weight: bold;
}

$sidebar ul{
  padding-top: 8px;
}

#leftsidebar ul li{
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 10px;
  list-style-image: url(images/arow.png);
}

#rightsidebar ul li {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 50px;
  background: url(images/tick.png) no-repeat left center;
}

#leftsidebar {
  float: left;
}

#rightsidebar {
  float: right;
}

.footer {
  height: 60px;
  background: linear-gradient(#f1fa51, #fcffcc);
  padding: 10px 30px;
  margin-top: 15px;
}